<nav class="navbar sticky-top navbar-default bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CampFinder</a>
    <ul class="nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Log In</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
    </ul>
  </div>
</nav>
