<!-- <nav class="navbar sticky-top navbar-default bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CampFinder</a>
    <ul class="nav navbar">
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
    </ul>
    <ul class="nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CampFinder</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-link" href="/campgrounds/new">New Campground</a>
      </div>
    </div>
  </div>
</nav>
