<% layout('layouts/boilerplate') %>

<div class="container">
  <header class="centered">
    <div class="container">
      <h1>Welcome to CampFinder</h1>
      <p>Locate Camps across the Globe with just a click</p>
      <a class="btn btn-primary my-2" href="/campgrounds/new"> Add New Camp</a>
    </div>
  </header>
  <div>
    <div class="container">
      <div class="row">
        <% Camps.forEach(camp => { %>
        <div class="eachCamp img-thumbnail col-lg-4 col-md-6">
          <img src="<%=camp.image %>" alt="<%=camp.name %>" />
          <a href="/campgrounds/<%=camp._id %>">
            <p class="captionText"><%= camp.name %></p>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
