<%- include('partials/header') %>
<div class="landing container">
  <h1>CampFinder</h1>
  <a class="btn btn-primary btn-lg" href="/campgrounds"> Explore Camps</a>
</div>
<%- include('partials/footer') %>
