header {
  text-align: center;
}

.centered {
  margin: 0, auto;
}

.jumbotron {
  background: white;
}

img {
  width: 100%;
}

.img-thumbnail {
  padding: 0;
}

.captionText {
  text-align: center;
  font-weight: 600;
}

.pageBottom {
  text-align: center;
  margin: 20px 0;
}

/* STYLES FOR THE NEW FORM */

.resized {
  margin: 50px auto;
}

.resized h1 {
  font-size: 20px;
}
