body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans",
    sans-serif;
}

header {
  text-align: center;
}

.centered {
  margin: 0, auto;
}

.jumbotron {
  background: white;
}

img {
  width: 100%;
}

.img-thumbnail {
  padding: 0;
  /* width: 500px; */
}

.descTitle {
  font-weight: 700;
  margin-top: 5px;
  margin-left: 10px;
}

.captionText {
  margin-top: 5px;
  text-align: center;
  font-weight: 500;
}

.pageBottom {
  text-align: center;
  margin: 20px 0;
}

/* STYLES FOR THE NEW FORM */

.resized {
  margin: 50px auto;
}

.resized h1 {
  font-size: 20px;
}

.eachCamp a {
  text-decoration: none;
  color: black;
}

.showImage {
  width: 100%;
  margin: 0 auto;
}

.c1 {
  margin-top: 15px;
}

.showTitle {
  padding: 10px 10px;
}

.authorname {
  font-weight: 600;
  text-decoration: none;
}
